Repository henpemaz/Rain-Meadow, changes with the owners that CODEOWNERS names for each.
All owners: @henpemaz, @6fears7, @invalidunits

CODEOWNERS:

# default
*			@henpemaz

# general (no owner)
/Game/		
/GameModes/	
/Menu/		
/OnlineUIComponents/
/Utils/		
/Online/RPCs.cs	
/Online/ConsumableRPCs.cs	
/Mod/text/
CHANGELOG.md

# team specific
/Arena/		@6fears7
/Story/		@6fears7
/Meadow/	@henpemaz
/Online/NetIO/  @invalidunits
/Online/Matchmaking/  @invalidunits

Update
  Game/RainMeadow.EntityHooks.cs
  Story/StoryHooks.cs
Owners: @6fears7

Fix pos
  Story/StoryHooks.cs
  Story/StoryRPCs.cs
Owners: @6fears7

Refine Japanese translations in strings.txt (#1104)
  Mod/text/text_jap/strings.txt
Owners: none

Changelog
  CHANGELOG.md
Owners: none

Adjust
  Story/StoryRPCs.cs
Owners: @6fears7

- fix msc greyed out back button - update some textboxes's held in team settings
  Menu/Components/OnlineSlugcatAbilitiesInterface.cs
  Menu/Components/OnlineTeamBattleSettingsInterface.cs
Owners: none

sandgrub
  Game/RainMeadow.EntityHooks.cs
Owners: none

change
  CHANGELOG.md
Owners: none

so much work for so much pain
  Arena/ArenaHelpers.cs
  Arena/ArenaHooks.cs
  Arena/ArenaLobbyData.cs
  Arena/ArenaRPCs.cs
  Game/RainMeadow.LoadingHooks.cs
  GameModes/ArenaCompetitiveGameMode.cs
  Menu/Dialogs/ArenaPostGameStatsDialog.cs
  Online/Serialization/Serializer.Data.cs
Owners: @6fears7, @henpemaz

remove commented code
  Arena/ArenaHooks.cs
  Arena/ArenaRPCs.cs
  GameModes/ArenaCompetitiveGameMode.cs
Owners: @6fears7

more comments
  Arena/ArenaLobbyData.cs
Owners: @6fears7

remove unsued param
  Arena/ArenaHooks.cs
  Game/RainMeadow.LoadingHooks.cs
  GameModes/ArenaCompetitiveGameMode.cs
Owners: @6fears7

more unused params
  Arena/ArenaHooks.cs
  Game/RainMeadow.LoadingHooks.cs
  GameModes/ArenaCompetitiveGameMode.cs
Owners: @6fears7

save backpack decision
  Menu/Pages/ArenaMainLobbyPage.cs
Owners: none
