Repository henpemaz/Rain-Meadow, changes with the owners that CODEOWNERS names for each.
All owners: @henpemaz, @6fears7, @invalidunits

Profanity filter checkbox
  Game/MeadowRemixOptions.cs
Owners: none

add toggle
  Game/MeadowRemixOptions.cs
  Game/RainMeadow.GameHooks.cs
Owners: none

Changelog
  CHANGELOG.md
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Hypothermia sync
  Online/State/AbstractCreatureState.cs
Owners: @henpemaz

fix karma
  Arena/ArenaHelpers.cs
  Arena/ArenaHooks.cs
Owners: @6fears7

chglog
  CHANGELOG.md
Owners: none

move func
  Arena/ArenaHelpers.cs
  Game/RainMeadow.PlayerHooks.cs
Owners: @6fears7

Moved filtering to MatchmakingManager
  Menu/Components/ChatMenuBox.cs
  Online/Matchmaking/MatchmakingManager.cs
  Online/Matchmaking/SteamMatchmakingManager.cs
  OnlineUIComponents/ChatHud.cs
  RainMeadow.cs
  Story/StoryOnlineMenu.cs
  Utils/Utils.cs
Owners: @invalidunits, @henpemaz, @6fears7

k_ETextFilteringContextChat
  Online/Matchmaking/SteamMatchmakingManager.cs
Owners: @invalidunits

changelog
  CHANGELOG.md
Owners: none

Update CHANGELOG with recent fixes and changes
  CHANGELOG.md
Owners: none

ChangeLog
  CHANGELOG.md
Owners: none

Use abstract modifier for Settings Name
  Menu/Components/OnlineSlugcatAbilitiesInterface.cs
Owners: none

add zed
  RainMeadow.cs
Owners: @henpemaz

Fix complie error
  Menu/Components/OnlineSlugcatAbilitiesInterface.cs
Owners: none

Makel method for controlling if slugcat abilities tab should be added
  Menu/Pages/ArenaMainLobbyPage.cs
Owners: none

Update README.md
  Arena/README.md
Owners: @6fears7

Create strings.txt
  Mod/text/text_jap/strings.txt
Owners: none

Fix Japanese translations in strings.txt
  Mod/text/text_jap/strings.txt
Owners: none

Fix typo in UDP timeout translation
  Mod/text/text_jap/strings.txt
Owners: none

Japanese Translation (#1100)
  Mod/text/text_jap/strings.txt
Owners: none

fix piggybacking through gates and warps
  Arena/ArenaHooks.cs
  Game/RainMeadow.EntityHooks.cs
  Game/RainMeadow.LoadingHooks.cs
  Game/RainMeadow.ShortcutHooks.cs
  Online/Entity/OnlinePhysicalObject.cs
  Story/StoryHooks.cs
Owners: @6fears7, @henpemaz

Allow SporePlants (Beehives) in Arena.
  GameModes/ArenaCompetitiveGameMode.cs
Owners: none

changelog
  CHANGELOG.md
Owners: none

Add OverworldSession
  Game/RainMeadow.GameHooks.cs
  Game/RainMeadow.LoadingHooks.cs
  GameModes/ArenaCompetitiveGameMode.cs
  GameModes/MeadowGameMode.cs
  GameModes/OnlineGameMode.cs
  GameModes/StoryGameMode.cs
  Meadow/MeadowLobbyData.cs
  Online/DebugOverlay.cs
  Online/OnlineManager.cs
  Online/Resource/Lobby.cs
  Online/Resource/OverworldSession.cs
  Online/Resource/RoomSession.cs
  Online/Resource/WorldSession.cs
Owners: @henpemaz

Better checked
  GameModes/OnlineGameMode.cs
Owners: none

- Prevent lastRippleState being set by non-local player - Play exiting ripple space animation for non-local player entering ripple space
  Game/RainMeadow.PlayerHooks.cs
Owners: none

Changelog
  CHANGELOG.md
Owners: none

Undo oneway
  Story/StoryHooks.cs
Owners: @6fears7

meadow collectable fix for overworld session
  GameModes/MeadowGameMode.cs
  Meadow/Items/AbstractMeadowCollectible.cs
  Online/Resource/WorldSession.cs
Owners: @henpemaz

Enable spawning Beehive plants
  Arena/ArenaHooks.cs
  GameModes/ArenaCompetitiveGameMode.cs
  GameModes/StoryGameMode.cs
Owners: @6fears7

meadow collectable fix again
  GameModes/MeadowGameMode.cs
Owners: none

1.11 fix
  Game/RainMeadow.PlayerHooks.cs
  Online/State/AbstractPhysicalObjectState.cs
  Online/State/RealizedPlayerState.cs
Owners: @henpemaz

unforce one way echo warp for host
  Story/StoryHooks.cs
  Story/StoryRPCs.cs
Owners: @6fears7

Version bump
  CHANGELOG.md
  Mod/modinfo.json
  RainMeadow.cs
Owners: @henpemaz

JP translation changelog
  CHANGELOG.md
Owners: none

Refine Japanese translations in strings.txt
  Mod/text/text_jap/strings.txt
Owners: none

Restart button for arena
  Arena/ArenaHooks.cs
  Arena/ArenaRPCs.cs
  GameModes/ArenaCompetitiveGameMode.cs
Owners: @6fears7

- fix players being allowed to join after ripple warping - allow clients to call twoway echo warp and tell host echo is met
  Game/RainMeadow.EntityHooks.cs
  Story/StoryHooks.cs
  Story/StoryRPCs.cs
Owners: @6fears7

CODEOWNERS:

# default
*			@henpemaz

# general (no owner)
/Game/		
/GameModes/	
/Menu/		
/OnlineUIComponents/
/Utils/		
/Online/RPCs.cs	
/Online/ConsumableRPCs.cs	
/Mod/text/
CHANGELOG.md

# team specific
/Arena/		@6fears7
/Story/		@6fears7
/Meadow/	@henpemaz
/Online/NetIO/  @invalidunits
/Online/Matchmaking/  @invalidunits
